@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f7fa;
}

.react-calendar {
  width: 100% !important; /* make calendar take full width */
  border: none;
  background: white;
}
